# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 24-02-2023
/src/App.js
/src/counterHelper.js
/src/reduxExample.js
/src/store.js
/src/storeValueCounter.js
/src/index2402Counter.js

#27-02-2023
/src/index2702ReduxAsync.js
/src/2702-ReduxAsync

/src/2802-FinalFormReact
/src/index2802FinalFormReact.js

# unfinish